<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
      <h2>Oops, the page isn't available!</h2>
    </div>
    <%- include('./partials/bodyjs.ejs') %>
  </body>
</html>
